button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 20em;
    margin: 0.3em;
    font: Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: #1C1C1C;
    border-radius: 3em;
    padding: 1em;
}

.orange {
    background-color: #FF9500;
    color: #D4D4D2;
}

.dark-gray {
    background-color: #505050;
    color: #D4D4D2;
    
}

.special-gray {
    background-color: #505050;
    color: #D4D4D2;
    width: 6.6em;
    text-align: left;
    text-indent: 1em;
}

.light-gray {
    background-color: #D4D4D2;
    color: #1C1C1C;
}

.result {
    color: #D4D4D2;
    display: flex;
    justify-content: right;
    margin-right: 1em;
    font-size: 5em;
    font: Helvetica;
    font-weight: 100;
    margin-bottom: 0em;
}